body{
    width: 100%;
    z-index: -10;
    background-image: url(s111.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
* {box-sizing: border-box;}
.transparent {
  position: relative;
  max-width: 600px;
  padding: 50px 50px;
  margin: 30px auto 0;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
}
.transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
}
.form {position: relative;}
.form h3 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.form h3:after {
  content: "";
  position :absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762EE;
}
.form label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,.6);
  text-transform: uppercase;
  font-size: 14px;
}
.form input {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 10px;
  color: white;
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}
.form .radio {
  display: inline-block;
}
input[type="radio"], input[type="checkbox"]{
  display: inline;
  width: auto;
}
#check + label {
  position: relative;
  margin: 20px 0;
  text-transform:none;
  cursor: pointer;
}
#check + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#check:checked + label:before {background: #1762EE;}
#check:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
.form input[type="submit"] {background: rgb(21, 54, 116);}
.error {
  border: 2px solid red;
}
.errors {
  color: red;
}